@media all and (max-width:576px) {
    .img-responsive{
        height: 200px;
        object-fit: cover;
    }

    .centrar{
        text-align: center;
    }
}

.efecto_img:hover{
    filter: opacity(50%);
    transition: 400ms;
}
.jump{
    margin-bottom: none;
}